<% if current_user.email == "rigzgoodmusic@gmail.com" %>
    <%= link_to 'new concert', new_concert_path %>
  <% end %>  

<div class="row">

    <% @concerts.each do |concert| %>
      
      <div class="col-md-3 concert-info">

        <%= image_tag concert.concert_img, class: "concert-thumbnail" %>
        <h5><%= concert.title %></h5>
        <h5><%= concert.date.in_time_zone('Eastern Time (US & Canada)').strftime("%m/%d/%Y" " at " "%I:%M:%S %p") %></h5>
        <h5><%= concert.location %></h5>
        
        <% if current_user.email == "rigzgoodmusic@gmail.com" %>
          <%= link_to 'edit', edit_concert_path(concert) %>
          <%= link_to 'delete', concert_path(concert), method: :delete %>
        <%  else %>
          <button type="button" class="btn btn-success">Buy VR Ticket Now</button>
        <% end %>  
      
      </div>

    <% end %>

</div>

