<!DOCTYPE html>
<html>
  <head>
    <title>Virtue</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Orbitron:500" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//storage.googleapis.com/vrview/2.0/vrview.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div>
      <%= render 'layouts/header' %>
    </div>
    
    <div id="main">
        <div>
          <br>
          <br>
          <% flash.each do |name,msg| %>
            <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
          <% end %>
        </div>
      
        <div class="container">
          <%= yield %>
        </div>
    </div>

  </body>
</html>
